page-mypage {
	.mypage_content{
		padding: 10px;
		.input-field{
			width: 100%;
			font-size: 20px;
		}
	}
	input[type=text]{
		font-size: 1.5rem;
	}
	.input-field label:not(.label-icon).active,
	input[type=text].validate+label{
		font-size: 1.2rem;
	}
	.toolbar-background{
		background-color: #FFB300;
		color: #FFFFFF;
	}
	.toolbar-title{
		color: #FFFFFF;
	}
	.card-bottom{
		margin-bottom: 5px;
		ion-col{
			text-align: center;
		}
	}
}
