page-textshare {
	.toolbar-background{
		background-color: #FFB300;
		color: #FFFFFF;
	}
	.toolbar-title{
		color: #FFFFFF;
	}
	.card-bottom{
		margin-bottom: 5px;
		ion-col{
			text-align: center;
		}
	}

}
