page-user-std-admin {
	.label.label-md h2{
		margin-top: 0;
	}
	.toolbar-background{
		background-color: #FFB300;
		color: #FFFFFF;
	}
	.toolbar-title{
		color: #FFFFFF;
	}
	.card-bottom{
		margin-bottom: 5px;
		ion-col{
			text-align: center;
		}
	}

}